<div class="row">
  <div class="col-xl-6">
    <span> <%= t(".pie_chart") %></span>
    <%= pie_chart @exams %>
  </div>
  <div class="col-xl-6">
    <span> <%= t(".pie_chart_1") %></span>
    <%= pie_chart @points %>
  </div>
</div>

<h2> <%= t(".column_chart") %></h2>
<div>
  <%= column_chart @avg_point_by_subject %>
</div>
