 <div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <div class="auto-form-wrapper">
            <%= image_tag Settings.background_image, class: "flogo" %>
            <%= form_for resource, as: resource_name, url: session_path(resource_name), data: { turbo: false } do |f| %>
              <div class="form-group">
                <%= f.label :email, t(".email")%>
                <%= f.email_field :email, class: "input-group", placeholder: t(".email") %>
              </div>
              <div class="form-group">
                <%= f.label :password, t(".password") %>
                <%= f.password_field :password, class: "input-group", placeholder: t(".password_form") %>
              </div>
              <div class="form-group">
                <%= f.submit t(".login"), class: "btn btn-primary submit-btn btn-block" %>
              </div>
              <div class="form-group d-flex justify-content-between mt-0">
                <div class="form-check form-check-flat">
                  <%= f.check_box :remember_me, checked: false, class: "form-check-input" %>
                  <%= f.label :remember_me, t(".remember_me"), class: "form-check-label" %>
                </div>
                <%= link_to t(".forgot_pass"), "#", class: "text-small forgot-password text-black" %>
              </div>
            <% end %>
          </div>
          <%= render "layouts/footer" %>
        </div>
      </div>
    </div>
  </div>
