<%= form_for @exam, data: { turbo: false } do |f|%>
  <%= render "shared/error_messages", object: f.object %>
  <div class="row">
    <div class="col-xl-6">
      <div class="row form-group forms-sample">
        <div class="col-xl-3">
          <%= f.label :topic_id, t(".topic"), class: "required" %>
        </div>
        <div class="col-xl-9">
          <%= f.collection_select :topic_id, Topic.all, :id, :name,
            {include_blank: false, prompt: t(".select_a_exam")}, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= f.submit yield(:button_text), name: "active", class: "btn btn-primary mr-2" %>
  </div>
<% end %>
